import pyspark and create a spark session

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/24 13:28:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

loading csv files into dataframes

In [3]:
path = '/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files/location_temp.csv'

In [4]:
df = spark.read.format('csv').option('header', 'true').load(path)

In [7]:
df.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [8]:
df.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [9]:
df.describe()

DataFrame[summary: string, event_date: string, location_id: string, temp_celcius: string]

In [11]:
df.count()

500000

In [14]:
newpath = '/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files/utilization.csv'

In [15]:
df1 = spark.read.format('csv').option('header', 'false').option('inferSchema', 'true').load(newpath)

In [16]:
df1.count()

500000

In [17]:
df1.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [19]:
df1 = df1 \
        .withColumnRenamed('_c0', 'event_datetime') \
        .withColumnRenamed('_c1', 'server_id') \
        .withColumnRenamed('_c2', 'cpu_utilization') \
        .withColumnRenamed('_c3', 'free_memory') \
        .withColumnRenamed('_c4', 'session_count')

In [20]:
df1.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [23]:
df1.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [26]:
json_path_for_df1 = '/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files/location_temp.json'

In [27]:
df1.write.json(json_path_for_df1)

reading json files

In [28]:
df1 = spark.read.format('json').load(json_path_for_df1)

In [29]:
df1.count()

500000

In [31]:
df1.head(10)

[Row(cpu_utilization=0.77, event_datetime='03/16/2019 17:21:40', free_memory=0.22, server_id=115, session_count=58),
 Row(cpu_utilization=0.53, event_datetime='03/16/2019 17:26:40', free_memory=0.23, server_id=115, session_count=64),
 Row(cpu_utilization=0.6, event_datetime='03/16/2019 17:31:40', free_memory=0.19, server_id=115, session_count=82),
 Row(cpu_utilization=0.46, event_datetime='03/16/2019 17:36:40', free_memory=0.32, server_id=115, session_count=60),
 Row(cpu_utilization=0.77, event_datetime='03/16/2019 17:41:40', free_memory=0.49, server_id=115, session_count=84),
 Row(cpu_utilization=0.62, event_datetime='03/16/2019 17:46:40', free_memory=0.31, server_id=115, session_count=73),
 Row(cpu_utilization=0.71, event_datetime='03/16/2019 17:51:40', free_memory=0.54, server_id=115, session_count=67),
 Row(cpu_utilization=0.67, event_datetime='03/16/2019 17:56:40', free_memory=0.54, server_id=115, session_count=83),
 Row(cpu_utilization=0.72, event_datetime='03/16/2019 18:01:40', free_memory=0.26, server_id=115, session_count=68),
 Row(cpu_utilization=0.62, event_datetime='03/16/2019 18:06:40', free_memory=0.52, server_id=115, session_count=60)]

In [32]:
df1.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.77|03/16/2019 17:21:40|       0.22|      115|           58|
|           0.53|03/16/2019 17:26:40|       0.23|      115|           64|
|            0.6|03/16/2019 17:31:40|       0.19|      115|           82|
|           0.46|03/16/2019 17:36:40|       0.32|      115|           60|
|           0.77|03/16/2019 17:41:40|       0.49|      115|           84|
|           0.62|03/16/2019 17:46:40|       0.31|      115|           73|
|           0.71|03/16/2019 17:51:40|       0.54|      115|           67|
|           0.67|03/16/2019 17:56:40|       0.54|      115|           83|
|           0.72|03/16/2019 18:01:40|       0.26|      115|           68|
|           0.62|03/16/2019 18:06:40|       0.52|      115|           60|
|           0.58|03/16/2019 18:11:40|       0.23|      115|           60|
|           0.51|03/16/2019 18:16:40|       0.35|      115|           62|
|           0.54|03/16/2019 18:21:40|       0.33|      115|           78|
|           0.84|03/16/2019 18:26:40|       0.35|      115|           66|
|           0.65|03/16/2019 18:31:40|       0.51|      115|           89|
|            0.8|03/16/2019 18:36:40|       0.25|      115|           76|
|           0.66|03/16/2019 18:41:40|       0.41|      115|           87|
|           0.67|03/16/2019 18:46:40|       0.36|      115|           62|
|           0.63|03/16/2019 18:51:40|       0.54|      115|           67|
|           0.51|03/16/2019 18:56:40|       0.51|      115|           58|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [33]:
! ls -l '/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files'

total 182240
-rwxr-xr-x@  1 rob_the_programmer  staff       167 Mar 23 19:40 Spark Mac Linux Export Environment Variables
-rwxr-xr-x@  1 rob_the_programmer  staff  14890036 Mar 13  2019 location_temp.csv
drwxr-xr-x  12 rob_the_programmer  staff       384 Mar 24 13:43 location_temp.json
-rwxr-xr-x@  1 rob_the_programmer  staff       772 Mar 16  2019 server_name.csv
-rwxr-xr-x@  1 rob_the_programmer  staff  18504832 Mar  5  2019 utilization.csv
-rwxr-xr-x@  1 rob_the_programmer  staff  58905124 Feb 25  2021 utlization.json

In [34]:
! ls '/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files/location_temp.json'

_SUCCESS
part-00000-a3a9ef2d-8f79-4cc5-8e18-bdd9a1702f21-c000.json
part-00001-a3a9ef2d-8f79-4cc5-8e18-bdd9a1702f21-c000.json
part-00002-a3a9ef2d-8f79-4cc5-8e18-bdd9a1702f21-c000.json
part-00003-a3a9ef2d-8f79-4cc5-8e18-bdd9a1702f21-c000.json

basic dataframe operations

In [35]:
jsonpath = '/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files/utlization.json'
df2 = spark.read.format('json').load(jsonpath)

In [36]:
df2.head(10)

[Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:06:14', free_memory=0.51, server_id=100, session_count=47),
 Row(cpu_utilization=0.47, event_datetime='03/05/2019 08:11:14', free_memory=0.62, server_id=100, session_count=43),
 Row(cpu_utilization=0.56, event_datetime='03/05/2019 08:16:14', free_memory=0.57, server_id=100, session_count=62),
 Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:21:14', free_memory=0.56, server_id=100, session_count=50),
 Row(cpu_utilization=0.35, event_datetime='03/05/2019 08:26:14', free_memory=0.46, server_id=100, session_count=43),
 Row(cpu_utilization=0.41, event_datetime='03/05/2019 08:31:14', free_memory=0.58, server_id=100, session_count=48),
 Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:36:14', free_memory=0.35, server_id=100, session_count=58),
 Row(cpu_utilization=0.41, event_datetime='03/05/2019 08:41:14', free_memory=0.4, server_id=100, session_count=58),
 Row(cpu_utilization=0.53, event_datetime='03/05/2019 08:46:14', free_memory=0.35, server_id=100, session_count=62),
 Row(cpu_utilization=0.51, event_datetime='03/05/2019 08:51:14', free_memory=0.6, server_id=100, session_count=45)]

In [37]:
df2.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [38]:
df2.count()

500000

In [40]:
df2.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [41]:
df2.describe()

DataFrame[summary: string, cpu_utilization: string, event_datetime: string, free_memory: string, server_id: string, session_count: string]

In [44]:
type(df2.cpu_utilization)

pyspark.sql.column.Column

In [45]:
df2sample = df2.sample(False, fraction=0.1)

In [46]:
df2sample.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.63|03/05/2019 10:11:14|       0.63|      100|           59|
|           0.45|03/05/2019 11:11:14|       0.73|      100|           45|
|           0.56|03/05/2019 14:16:14|       0.35|      100|           57|
|           0.56|03/05/2019 16:41:14|       0.59|      100|           65|
|           0.46|03/05/2019 17:16:14|       0.69|      100|           41|
|           0.67|03/05/2019 18:16:14|       0.59|      100|           44|
|           0.64|03/05/2019 18:21:14|        0.6|      100|           67|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [47]:
df2sample.sort('event_datetime').show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.62|03/05/2019 08:06:28|       0.41|      108|           86|
|           0.69|03/05/2019 08:06:36|       0.38|      113|           71|
|           0.65|03/05/2019 08:07:01|       0.36|      128|           83|
|           0.24|03/05/2019 08:07:21|       0.68|      138|           59|
|           0.69|03/05/2019 08:07:28|       0.24|      141|           67|
|           0.86|03/05/2019 08:07:33|       0.16|      144|           83|
|           0.71|03/05/2019 08:07:37|       0.35|      146|           75|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.83|03/05/2019 08:11:26|        0.2|      107|           72|
|            0.6|03/05/2019 08:11:40|       0.52|      115|           55|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [48]:
df2.describe().show()

+-------+-------------------+-------------------+-------------------+------------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|         server_id|     session_count|
+-------+-------------------+-------------------+-------------------+------------------+------------------+
|  count|             500000|             500000|             500000|            500000|            500000|
|   mean| 0.6205177400000106|               null| 0.3791280999999971|             124.5|          69.59616|
| stddev|0.15875173872912937|               null|0.15830931278376237|14.430884120552962|14.850676696352718|
|    min|               0.22|03/05/2019 08:06:14|                0.0|               100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|               149|               105|
+-------+-------------------+-------------------+-------------------+------------------+------------------+

In [49]:
df2sample.describe().show()

+-------+------------------+-------------------+------------------+------------------+------------------+
|summary|   cpu_utilization|     event_datetime|       free_memory|         server_id|     session_count|
+-------+------------------+-------------------+------------------+------------------+------------------+
|  count|             49993|              49993|             49993|             49993|             49993|
|   mean|0.6208357170003816|               null|0.3792628968055517|124.47826695737403| 69.59938391374793|
| stddev|0.1585408695196406|               null|0.1581748331416854|14.447447156424143|14.855326254761039|
|    min|              0.22|03/05/2019 08:06:28|               0.0|               100|                32|
|    max|               1.0|04/09/2019 01:22:44|              0.78|               149|               105|
+-------+------------------+-------------------+------------------+------------------+------------------+