In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("BasicsII").getOrCreate()
spark

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/25 13:35:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/25 13:35:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read.csv("../files/location_temp.csv", header=True) # time series data

filtering using dataframe API

In [3]:
df.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [4]:
df.filter(df.location_id == 'loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [5]:
df.filter(df.location_id == 'loc0').count()

1000

In [6]:
df.filter(df.location_id == 'loc1').count()

1000

In [7]:
df.filter(df.location_id == 'loc1').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

aggregating using dataframe api

In [8]:
df.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [9]:
df.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc150| 1000|
|      loc22| 1000|
|      loc31| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc122| 1000|
|     loc145| 1000|
|      loc24| 1000|
|      loc30| 1000|
|     loc105| 1000|
|      loc96| 1000|
|     loc102| 1000|
|      loc18| 1000|
|      loc27| 1000|
|     loc143| 1000|
|      loc43| 1000|
|     loc123| 1000|
+-----------+-----+
only showing top 20 rows

In [10]:
df.orderBy("location_id").show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
+-------------------+-----------+------------+
only showing top 10 rows

In [13]:
df.groupBy('location_id').agg({'temp_celcius': 'mean'}).show() # finding the average temperature

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc150|           32.188|
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc122|            32.36|
|     loc145|           32.309|
|      loc24|           31.109|
|      loc30|           30.211|
|     loc105|           26.217|
|      loc96|           28.138|
|     loc102|           30.327|
|      loc18|           30.198|
|      loc27|           31.239|
|     loc143|           28.213|
|      loc43|           32.196|
|     loc123|           23.424|
+-----------+-----------------+
only showing top 20 rows

In [14]:
df.groupBy('location_id').agg({'temp_celcius': 'min'}).show()

+-----------+-----------------+
|location_id|min(temp_celcius)|
+-----------+-----------------+
|       loc0|               27|
|       loc1|               26|
|      loc10|               23|
|     loc100|               25|
|     loc101|               23|
|     loc102|               28|
|     loc103|               23|
|     loc104|               24|
|     loc105|               24|
|     loc106|               25|
|     loc107|               31|
|     loc108|               30|
|     loc109|               22|
|      loc11|               23|
|     loc110|               24|
|     loc111|               29|
|     loc112|               31|
|     loc113|               28|
|     loc114|               27|
|     loc115|               21|
+-----------+-----------------+
only showing top 20 rows

In [15]:
df.groupBy('location_id').agg({'temp_celcius': 'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
|     loc102|               37|
|     loc103|               32|
|     loc104|               33|
|     loc105|               33|
|     loc106|               34|
|     loc107|               40|
|     loc108|               39|
|     loc109|               31|
|      loc11|               32|
|     loc110|               33|
|     loc111|               38|
|     loc112|               40|
|     loc113|               37|
|     loc114|               36|
|     loc115|               30|
+-----------+-----------------+
only showing top 20 rows

sampling using dataframe

use sampling when we have large dataframes

In [16]:
df.show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [17]:
df.count()

500000

In [18]:
df_sampling = df.sample(fraction=0.1, withReplacement=False) # samplig of 10% of the data
df_sampling.show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 22:48:06|       loc0|          28|
|03/05/2019 01:23:06|       loc0|          33|
|03/05/2019 02:18:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [19]:
df_sampling.groupBy('location_id').agg({'temp_celcius': 'mean'}).show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc150|32.234693877551024|
|      loc22|28.415841584158414|
|      loc31| 24.88679245283019|
|      loc82| 27.21698113207547|
|      loc90|23.054945054945055|
|     loc118|24.142857142857142|
|      loc39| 25.31578947368421|
|      loc75| 23.47252747252747|
|     loc122|32.310344827586206|
|     loc145|             32.04|
+-----------+------------------+
only showing top 10 rows

In [20]:
df_sampling.groupBy('location_id').agg({'temp_celcius': 'min'}).orderBy('location_id').show(10)

+-----------+-----------------+
|location_id|min(temp_celcius)|
+-----------+-----------------+
|       loc0|               27|
|       loc1|               26|
|      loc10|               23|
|     loc100|               25|
|     loc101|               23|
|     loc102|               28|
|     loc103|               23|
|     loc104|               24|
|     loc105|               24|
|     loc106|               25|
+-----------+-----------------+
only showing top 10 rows

In [21]:
df.groupby('location_id').agg({'temp_celcius': 'min'}).orderBy('location_id').show(10)

+-----------+-----------------+
|location_id|min(temp_celcius)|
+-----------+-----------------+
|       loc0|               27|
|       loc1|               26|
|      loc10|               23|
|     loc100|               25|
|     loc101|               23|
|     loc102|               28|
|     loc103|               23|
|     loc104|               24|
|     loc105|               24|
|     loc106|               25|
+-----------+-----------------+
only showing top 10 rows

In [22]:
df_sample2 = df.sample(fraction=0.001, withReplacement=False)

In [24]:
df_sample2.groupBy('location_id').agg({'temp_celcius': 'mean'}).orderBy('location_id').show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc100|              25.0|
|     loc102|              30.0|
|     loc103|              30.0|
|     loc106|              32.0|
|     loc107|              33.0|
|     loc108|              39.0|
|      loc11|24.666666666666668|
|     loc110|              26.5|
|     loc111|              30.0|
|     loc112|34.666666666666664|
+-----------+------------------+
only showing top 10 rows

saving data from dataframes

In [25]:
df.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [26]:
df.write.csv("../files/location_temp_sample.csv", header=True)

In [29]:
! ls '../files/location_temp_sample.csv'

_SUCCESS
part-00000-cbe6828e-0939-4759-b40c-d32253c1bfed-c000.csv
part-00001-cbe6828e-0939-4759-b40c-d32253c1bfed-c000.csv
part-00002-cbe6828e-0939-4759-b40c-d32253c1bfed-c000.csv
part-00003-cbe6828e-0939-4759-b40c-d32253c1bfed-c000.csv

In [30]:
! head '../files/location_temp_sample.csv/part-00000-cbe6828e-0939-4759-b40c-d32253c1bfed-c000.csv'

event_date,location_id,temp_celcius
03/04/2019 19:48:06,loc0,29
03/04/2019 19:53:06,loc0,27
03/04/2019 19:58:06,loc0,28
03/04/2019 20:03:06,loc0,30
03/04/2019 20:08:06,loc0,27
03/04/2019 20:13:06,loc0,27
03/04/2019 20:18:06,loc0,27
03/04/2019 20:23:06,loc0,29
03/04/2019 20:28:06,loc0,32

In [32]:
df.write.json("../files/location_temp_sample.json")

In [33]:
! ls '../files/location_temp_sample.json'

_SUCCESS
part-00000-93c0271a-c05f-4a92-bf37-6660544115ef-c000.json
part-00001-93c0271a-c05f-4a92-bf37-6660544115ef-c000.json
part-00002-93c0271a-c05f-4a92-bf37-6660544115ef-c000.json
part-00003-93c0271a-c05f-4a92-bf37-6660544115ef-c000.json

In [35]:
! head '../files/location_temp_sample.json/part-00001-93c0271a-c05f-4a92-bf37-6660544115ef-c000.json'

{"event_date":"03/07/2019 06:18:37","location_id":"loc162","temp_celcius":"27"}
{"event_date":"03/07/2019 06:23:37","location_id":"loc162","temp_celcius":"24"}
{"event_date":"03/07/2019 06:28:37","location_id":"loc162","temp_celcius":"29"}
{"event_date":"03/07/2019 06:33:37","location_id":"loc162","temp_celcius":"25"}
{"event_date":"03/07/2019 06:38:37","location_id":"loc162","temp_celcius":"23"}
{"event_date":"03/07/2019 06:43:37","location_id":"loc162","temp_celcius":"31"}
{"event_date":"03/07/2019 06:48:37","location_id":"loc162","temp_celcius":"29"}
{"event_date":"03/07/2019 06:53:37","location_id":"loc162","temp_celcius":"23"}
{"event_date":"03/07/2019 06:58:37","location_id":"loc162","temp_celcius":"26"}
{"event_date":"03/07/2019 07:03:37","location_id":"loc162","temp_celcius":"25"}