In [16]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Intermediate").getOrCreate()
spark

In [17]:
df = spark.read.format('json').load('/Users/rob_the_programmer/Documents/programming/2022/hands_on_data_science/spark-sql-dataframes-workspace/files/utlization.json')
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [18]:
df.printSchema()

root
 |-- cpu_utilization: double (nullable = true)
 |-- event_datetime: string (nullable = true)
 |-- free_memory: double (nullable = true)
 |-- server_id: long (nullable = true)
 |-- session_count: long (nullable = true)

In [19]:
df.count()

500000

In [33]:
try:
    df.createOrReplaceTempView("utilization")
    print("Temp view created successfully")
except:
    print("Error creating temp view")

Temp view created successfully

In [35]:
dfsql = spark.sql("SELECT * FROM utilization")

In [36]:
dfsql.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [37]:
dfsql.count()

500000

In [38]:
dfsql = spark.sql('select server_id, session_count from utilization')
dfsql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
|      100|           47|
|      100|           60|
|      100|           57|
|      100|           44|
|      100|           47|
|      100|           66|
|      100|           65|
|      100|           66|
|      100|           42|
|      100|           63|
+---------+-------------+
only showing top 20 rows

In [39]:
dfsql = spark.sql('''
    select
        server_id as sid,
        session_count as sc
        from utilization
        limit 10
''')
dfsql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
+---+---+

In [40]:
dfsql = spark.sql('select * from utilization where server_id = 120')
dfsql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [41]:
dfsql.count()

10000

In [44]:
dfsql = spark.sql('select server_id as sid, session_count as sc from utilization where session_count > 70')
dfsql.show()

+---+---+
|sid| sc|
+---+---+
|100| 71|
|100| 71|
|100| 71|
|100| 71|
|100| 72|
|100| 72|
|100| 71|
|100| 71|
|100| 71|
|100| 72|
|100| 71|
|100| 72|
|100| 71|
|100| 71|
|100| 72|
|100| 71|
|100| 72|
|100| 72|
|100| 71|
|100| 71|
+---+---+
only showing top 20 rows

In [45]:
dfsql.count()

239659

In [46]:
dfsql = spark.sql('''

    select 
        server_id as sid,
        session_count as sc
    from 
        utilization
    where
        session_count > 70
    and
        server_id =120
    ''')

dfsql.show()

+---+---+
|sid| sc|
+---+---+
|120| 80|
|120| 71|
|120| 73|
|120| 72|
|120| 78|
|120| 73|
|120| 78|
|120| 73|
|120| 74|
|120| 78|
|120| 75|
|120| 75|
|120| 73|
|120| 79|
|120| 72|
|120| 77|
|120| 75|
|120| 72|
|120| 79|
|120| 75|
+---+---+
only showing top 20 rows

In [47]:
dfsql.count()

2733

In [48]:
dfsql = spark.sql('''

    select 
        server_id as sid,
        session_count as sc
    from 
        utilization
    where
        session_count > 70
    and
        server_id =120
    order by 2 desc
    ''')

dfsql.show()

+---+---+
|sid| sc|
+---+---+
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
|120| 80|
+---+---+
only showing top 20 rows

aggregating dataframes with sql

In [50]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [51]:
dfsql

DataFrame[sid: bigint, sc: bigint]

In [52]:
dfsql = spark.sql('select * from utilization')
dfsql.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [53]:
dfsql = spark.sql('select count(*) from utilization')
dfsql.show(10)

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [55]:
dfsql = spark.sql('select count(*) from utilization where session_count > 70')
dfsql.show(10)

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [56]:
dfsql = spark.sql('select server_id, count(*) from utilization where session_count > 70 group by server_id')
dfsql.show(10)

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      112|    7425|
|      113|    9418|
|      110|    2826|
|      107|    5646|
|      103|    8744|
|      104|    7366|
|      111|    3093|
|      100|     391|
|      105|    1110|
|      108|    8375|
+---------+--------+
only showing top 10 rows

In [57]:
dfsql = spark.sql('select server_id, count(*) from utilization where session_count > 70 group by server_id order by 2 desc')
dfsql.show(10)

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
+---------+--------+
only showing top 10 rows

In [59]:
dfsql = spark.sql('''
    select 
        server_id, 
        min(session_count) as min_session_count, 
        avg(session_count) as avg_session_count,
        max(session_count) as max_session_count
    from utilization
    where
        session_count > 70
    group by server_id
    order by count(*) desc
''')

dfsql.show()

+---------+-----------------+-----------------+-----------------+
|server_id|min_session_count|avg_session_count|max_session_count|
+---------+-----------------+-----------------+-----------------+
|      101|               71|87.66557911908646|              105|
|      113|               71|86.96262476109577|              103|
|      145|               71|86.97732158211522|              103|
|      103|               71|85.76372369624886|              101|
|      102|               71|85.71150710458886|              101|
|      133|               71|85.46720260981009|              100|
|      108|               71| 85.1219104477612|              100|
|      149|               71| 84.9612693050193|               99|
|      137|               71| 85.0061833171678|               99|
|      148|               71|84.70350068518749|               99|
|      123|               71|84.53220510229856|               98|
|      118|               71|84.65777833944142|               98|
|      112|               71|83.54505050505051|               97|
|      139|               71|83.32710280373831|               96|
|      104|               71|83.34604941623677|               96|
|      142|               71| 82.9049971767363|               95|
|      121|               71|82.88848108413326|               95|
|      146|               71|82.95093325791855|               95|
|      126|               71|81.56150824823253|               93|
|      144|               71|81.38472668810289|               92|
+---------+-----------------+-----------------+-----------------+
only showing top 20 rows

In [60]:
dfsql = spark.sql('''
    select 
        server_id, 
        min(session_count) as min_session_count, 
        round(avg(session_count)) as avg_session_count,
        max(session_count) as max_session_count
    from utilization
    where
        session_count > 70
    group by server_id
    order by count(*) desc
''')

dfsql.show()

+---------+-----------------+-----------------+-----------------+
|server_id|min_session_count|avg_session_count|max_session_count|
+---------+-----------------+-----------------+-----------------+
|      101|               71|             88.0|              105|
|      113|               71|             87.0|              103|
|      145|               71|             87.0|              103|
|      103|               71|             86.0|              101|
|      102|               71|             86.0|              101|
|      133|               71|             85.0|              100|
|      108|               71|             85.0|              100|
|      149|               71|             85.0|               99|
|      137|               71|             85.0|               99|
|      148|               71|             85.0|               99|
|      123|               71|             85.0|               98|
|      118|               71|             85.0|               98|
|      112|               71|             84.0|               97|
|      139|               71|             83.0|               96|
|      104|               71|             83.0|               96|
|      142|               71|             83.0|               95|
|      121|               71|             83.0|               95|
|      146|               71|             83.0|               95|
|      126|               71|             82.0|               93|
|      144|               71|             81.0|               92|
+---------+-----------------+-----------------+-----------------+
only showing top 20 rows

joining dataframes with sql

In [61]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [65]:
dfutil = spark.read.format('json').load('../files/utlization.json')

In [66]:
dfutil.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [67]:
dfutil.createOrReplaceTempView("util")

In [68]:
dfserver = spark.read.csv('../files/server_name.csv', header=True)

In [69]:
dfserver.show(10)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
+---------+-----------+
only showing top 10 rows

In [70]:
dfserver.createOrReplaceTempView("server")

In [72]:
dfcount = spark.sql('select distinct(server_id) from util order by server_id')
dfcount.show(10)

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
+---------+
only showing top 10 rows

In [73]:
spark.sql('select * from server').show(10)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
+---------+-----------+
only showing top 10 rows

In [75]:
spark.sql('''
    select 
        u.server_id,
        s.server_name,
        u.session_count
    from
        util u
    inner join
        server s
    on
        u.server_id = s.server_id
''').show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

de-duplicating

In [95]:
from pyspark.sql import Row
from pyspark import SparkContext
from pyspark.sql.functions import lit # lit stands for literal
from pyspark.sql.types import StringType

In [91]:
sc = SparkContext.getOrCreate()

dfdup = sc.parallelize([
                        Row(server_name='101 Server', cpu_utilization=85, session_count=80), 
                        Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                        Row(server_name='102 Server', cpu_utilization=85, session_count=80),
                        Row(server_name='102 Server', cpu_utilization=85, session_count=80
                    )]).toDF()

In [92]:
dfdup.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           80|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

In [93]:
dfdup.drop_duplicates().show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

In [94]:
dfdup.drop_duplicates(['server_name']).show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

working with NAs

In [96]:
df = sc.parallelize([
                        Row(server_name='101 Server', cpu_utilization=85, session_count=80), 
                        Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                        Row(server_name='102 Server', cpu_utilization=85, session_count=40),
                        Row(server_name='103 Server', cpu_utilization=70, session_count=80),
                        Row(server_name='104 Server', cpu_utilization=60, session_count=80)
                    ]).toDF()

In [97]:
df.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           40|
| 103 Server|             70|           80|
| 104 Server|             60|           80|
+-----------+---------------+-------------+

In [102]:
dfna = df.withColumn('na_col', lit(None).cast(StringType()))
dfna.show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [103]:
dfna.fillna('A').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
+-----------+---------------+-------------+------+

In [104]:
df2 = dfna.fillna('A').union(dfna)
df2.show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [105]:
df2.na.drop().show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
+-----------+---------------+-------------+------+

In [106]:
df2.createOrReplaceTempView('natable')

In [107]:
spark.sql('select * from natable').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [109]:
spark.sql('select * from natable where na_col is null').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|  null|
| 101 Server|             80|           90|  null|
| 102 Server|             85|           40|  null|
| 103 Server|             70|           80|  null|
| 104 Server|             60|           80|  null|
+-----------+---------------+-------------+------+

In [110]:
spark.sql('select * from natable where na_col is not null').show()

+-----------+---------------+-------------+------+
|server_name|cpu_utilization|session_count|na_col|
+-----------+---------------+-------------+------+
| 101 Server|             85|           80|     A|
| 101 Server|             80|           90|     A|
| 102 Server|             85|           40|     A|
| 103 Server|             70|           80|     A|
| 104 Server|             60|           80|     A|
+-----------+---------------+-------------+------+